/* All Pages / Headers */
*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}
header{
    background-color: #dad7cd;
    color: #ecf39e;
    height: 70px;
    width: 100vw;
    /* margin-right: 60px; */
    padding-left: 30px;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 50pt;
}
.hyperlink img{
    padding-top: 5px;
    height: 60px;
}
#hyper-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    padding-right: 40px;
} 
body{
    position: relative;
    width: 100vw;
    background-color: #4f772d;
}
/* Flash messages */
.flask-msg{
    width: 300px;
    margin: 0 auto; 
    margin-top: 30px;
    padding: 10px; 
    border: 2px solid black; 
    text-align: center; 
    color: #3A5A40;
    border-radius: 8px;
    border-color: #344E41;
    background-color: #A3B18A; 
}
/* Page Specific */
/* Homepage */
.desc{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt;
    text-align: center;
    text-align: center;
    font-size: 70px;
    color: #344E41;
    padding-top: 50px;
}

/* Login Page */
#login-form{
    width: 300px;
    margin: 0 auto; 
    margin-top: 30px;
    padding: 10px; 
    border: 2px solid black; 
    text-align: center; 
    color: #3A5A40;
    border-radius: 8px;
    border-color: #344E41;
    background-color: #A3B18A;
}
#login-form h2{
    font-size: 40px;
    text-decoration: underline;
    padding-bottom: 10px;
}
#login-form p{
    padding-bottom:12px
}

/* Register Page */
#register-form{
    width: 300px;
    margin: 0 auto; 
    margin-top: 20px;
    padding: 10px; 
    border: 2px solid black; 
    text-align: center; 
    color: #3A5A40;
    border-radius: 8px;
    border-color: #344E41;
    background-color: #A3B18A;
}
#register-form h2{
    font-size: 40px;
    text-decoration: underline;
    padding-bottom: 10px;
}
#register-form p{
    padding-bottom:12px
}
/* Projects Page */
h5{
    text-align: center;
    font-size: 70px;
    color: #344E41;
    text-decoration: underline;
}
h6{
    text-align: center;
    font-size: 20px;
    color: #344E41;
}
#project-form{
    width: 300px;
    margin: 0 auto; 
    margin-top: 20px;
    padding: 10px; 
    border: 2px solid black; 
    text-align: center; 
    color: #3A5A40;
    border-radius: 8px;
    border-color: #344E41;
    background-color: #A3B18A;
}
#project-form h2{
    font-size: 40px;
    text-decoration: underline;
    padding-bottom: 10px;
}
#project-form p{
    padding-bottom:12px
}


/* Task Page */
#task-form{
    width: 300px;
    margin: 0 auto; 
    margin-top: 20px;
    padding: 10px; 
    border: 2px solid black; 
    text-align: center; 
    color: #3A5A40;
    border-radius: 8px;
    border-color: #344E41;
    background-color: #A3B18A;
}
.add-form{
    width: 300px;
    margin: 0 auto; 
    margin-top: 20px;
    padding: 10px; 
    border: 2px solid black; 
    text-align: center; 
    color: #3A5A40;
    border-radius: 8px;
    border-color: #344E41;
    background-color: #A3B18A;
}
#task-form h2{
    font-size: 40px;
    text-decoration: underline;
    padding-bottom: 10px;
}
#task-form p{
    padding-bottom:12px
}
h3{
    font-size: 70px;
    text-decoration: underline;
    padding-bottom: 10px;
    width: 700px;
    margin: 0 auto; 
    margin-top: 20px;
    padding: 10px; 
    text-align: center; 
    color: #A3B18A;
    border-radius: 8px;

}
ul{
    display: flex;
    flex-direction: column; 
    width: 20%;
}
li{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    margin: 0 auto; 
    font-size: 25px;
    margin-top: 20px;
    padding: 10px; 
    border: 2px solid black; 
    justify-content: center; 
    text-decoration: none;
    color: #3A5A40;
    border-radius: 8px;
    border-color: #344E41;
    background-color: #A3B18A;
}
.projects-tile{
    width: 400px;
    font-size: 20pt;
}
.delete-btn{
    position: absolute;
    top: 1px;
    right: 2px;
    width: 10px;
    height: 10px;
    background-color: #dad7cd;
    border-radius: 16px;
    padding-bottom: 12px;
    border-color: #344E41;
    background: transparent;
    border: none;
}
.delete-btn:hover{
    cursor: pointer;
}
#project-link{
    text-align: center; 
    text-decoration: none;
    color: #3A5A40;
}
#dropdown{
    height: 70px;
}
/* Class page */
#task-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.arrow-btn{
    width: 20px;
    height: 20px;
    background-color: #dad7cd;
    border-radius: 4px;
    padding-bottom: 12px;
    border-color: #344E41;
    margin-left: 8px;
    margin-right: 8px;
}
.task_list{
    margin-right: 30px;
    margin-left: 30px;
}
h4{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    text-decoration: underline;
    padding-bottom: 10px;
    margin: 0 auto; 
    margin-top: 20px;
    padding: 10px; 
    text-align: center; 
    color: #A3B18A;
    border-radius: 8px;
}