{% extends "base.html" %}

{% block title %}EasyTask - Home page{% endblock %}
{% block header %}
<img src="static\Logo.png">
<div id="hyper-links">
    <a class="hyperlink" id="login-redirect" href="{{url_for('login') }}"><img src="static\Login Image.png"></a>
    <a class="hyperlink" id="register-redirect"href="{{ url_for('register') }}"><img src="static\Register Image.png"></a>
</div>
{% endblock %}

{% block body %}

<div class="desc">
    <p>
       Enjoy EasyTask by signing up <br>
       or logging in with the icons <br>
       in the top right
     </p>
 </div>
 

{% endblock %}