{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block body %}

<h2> Log In </h2>

<form action="/login" method="POST">
    <p>
        {{ form.csrf_token() }}
        {{ form.username.label }} <br>
        {{ form.username(size=30)}}
    </p>
    <p>
        {{ form.password.label }} <br>
        {{ form.password(size=30)}}
    </p>
    <p>
        {{ form.submit }}
    </p>
</form>
<a href="{{ url_for('homepage') }}">Home</a>
<a href="{{ url_for('register') }}">Dont have an account? Sign Up</a>


{% endblock %}
