{% extends "base.html" %}

{% block body %}

{% if current_project_tasks: %}
<div id="task-container">

    <ul class="task_list" id="backlog_tasks">
    {% for tasks in backlog_tasks %}
        <li>
            Task: {{ tasks.task_name }} Status: {{ tasks.status }}
            <a href="/To-Do/{{ tasks.task_id }}"> <button id="right"> -> </button></a>
            <a href="/delete/ {{ tasks.task_id }}"><button>x</button></a>
        </li>
    {% endfor %}
    </ul>

    <ul class="task_list" id="todo_tasks">
    {% for tasks in todo_tasks %}
        <li>
            <a href="/Backlog/{{ tasks.task_id }}"><button> <- </button></a> 
            Task: {{ tasks.task_name }} Status: {{ tasks.status }}
            <a href="/In-Progress/{{ tasks.task_id }}"><button> -> </button></a>
            <a href="/delete/ {{ tasks.task_id }}"><button>x</button></a>
        </li>
    {% endfor %}
    </ul>

    <ul class="task_list" id="in_progress_tasks">
    {% for tasks in in_progress_tasks %}
        <li>
            <a href="/To-Do/{{ tasks.task_id }}"><button> <- </button></a>
            Task: {{ tasks.task_name }} Status: {{ tasks.status }}
            <a href="/Completed/{{ tasks.task_id }}"><button> -> </button></a>
            <a href="/delete/ {{ tasks.task_id }}"><button>x</button></a>
        </li>
        {% endfor %}
    </ul>
    
    <ul class="task_list" id="completed_tasks">
        {% for tasks in completed_tasks %}
        <li>
            <a href="/In-Progress/{{ tasks.task_id }}"><button> <- </button></a>
            Task: {{ tasks.task_name }} Status: {{ tasks.status }}
            <a href="/delete/ {{ tasks.task_id }}"><button>x</button></a>
        </li>
        {% endfor %}
    </ul>
</div>
    <form action="" method="POST">
        <p>Add a New Task:</p>
        <p>
            {{ form.task_name.label }}<br>
            {{ form.task_name(size=30) }}
        </p>
        <p>
            {{ form.task_description.label }}<br>
            {{ form.task_description(size=30) }}
        </p>
        <p>
            {{ form.status.label }}<br>
            {{ form.status }}
        </p>
        <p>
            {{ form.submit}}
        </p>
    </form>
    

{% else %}
<p>no tasks yet </p>
<form action="" method="POST">
    <p>Add a New Task:</p>
    <p>
        {{ form.task_name.label }}<br>
        {{ form.task_name(size=30) }}
    </p>
    <p>
        {{ form.task_description.label }}<br>
        {{ form.task_description(size=30) }}
    </p>
    <p>
        {{ form.status.label }}<br>
        {{ form.status(size=30) }}
    </p>
    <p>
        {{ form.submit}}
    </p>
</form>


{% endif %}

{% endblock %}