{% extends "base.html" %}
{% block title %} Register User {% endblock %}
{% block header %}
<img src="static\Logo.png">
<div id="hyper-links">
    <a class="hyperlink" id="login-redirect" href="{{url_for('login') }}"><img src="static\Login Image.png"></a>
</div>
{% endblock %}
{% block body %}


<form id="register-form" action="" method="post">
    <h2> Sign Up </h2>
    <p>
        {{ form.csrf_token() }}
        {{ form.username.label }} <br>
        {{ form.username(size=30, autocomplete="off")}}
    </p>
    <p>
        {{ form.password.label }} <br>
        {{ form.password(size=30, autocomplete="off")}}
    </p>
    <p>
        {{ form.submit }}
    </p>
</form>
{% endblock %}
